* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
  }
  
  body {
    text-align: center;
    background-color: #f0f4f8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: background-color 0.3s;
  }
  
  h1 {
    margin-bottom: 40px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .card {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .card h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 16px 36px;
    font-size: 1.2rem;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3730a3;
  }
  
  #resultado {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  
  .arena {
    flex: 2;
  }
  
  .ranking-box {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .ranking-box h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #4f46e5;
  }
  
  .ranking-box ol {
    list-style-position: inside;
    padding-left: 0;
  }
  
  .ranking-box li {
    margin-bottom: 6px;
    font-weight: 500;
  }
  